.simpleStyles {
    margin: 20px 20px 20px 40px;
}

button {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    background: lightskyblue;
    color: #0053a4;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    border: #0053a4 2px solid;
}